<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button
      type="button"
      class="btn btn-primary btn-circle"
      data-toggle="modal"
      data-target="#addModal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>No</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% job.forEach((res, line) => { %>
          <tr>
            <td><%= line+1 %></td>
            <td><%= res.description %></td>

            <td>
              <a
                href="javascript:void()"
                class="btn btn-warning btn-sm btn-circle button-update"
                data-id="<%= res.id %>"
                data-description="<%= res.description %>"
                data-tabid="<%= res.tabId._id %>"
                ><i class="fas fa-edit"></i
              ></a>
              <a
                href="javascript:void()"
                class="btn btn-danger btn-sm btn-circle button-delete"
                data-id="<%= res.id %>"
                ><i class="fas fa-trash"></i
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
